{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-inner-declarations": 0,
    "strict": 0,
    "semi": [
      "error",
      "always"
    ],
    "no-octal": 0
  }
}
